# Warsztaty Python w Data Science

***

## Data Wrangling z Biblioteką Pandas 
### Część 2 z 5 


---
- ## Grupowanie
- ## Zmiana kształtu DataFrame - <span style="color: cyan">Szeroki w długi</span>
- ## Uzupełnianie brakujących danych
- ## Formatowanie i działanie wzdłuż osi <span style="color: cyan">(__*axis*__)</span>

***

# https://github.com/Bits-of-Data-PL/PythonDataScience

***

In [ ]:
import pandas as pd

data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}


football = pd.DataFrame(data)
football

### Zadanie 1

Podsumować dane dla zespołu `Packers`

In [ ]:
football[football.team == "Packers"]

In [ ]:
football[football.team == "Packers"].describe()

### Zadanie 2

Dodać do DataFrame `football` kolumnę `games_played`

In [ ]:
football['games_played'] = football.wins + football.losses
football

### Zadanie 3

Dodać do DataFrame `football` kolumnę `percentage_games_won`

In [ ]:
football['percentage_games_won'] = 100.0 * football.wins / football.games_played
football

### Zadanie 4

Wyświetlić dane dla zespołu `Packers` z lat parzystych

In [ ]:
football[(football.year % 2 == 0) & (football.team == "Packers")]

---
## Grupowanie

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'value': np.random.randint(0, 100, 20)})
df

In [ ]:
labels = ["{0} - {1}".format(i, i + 9) for i in range(0, 100, 10)]
labels

In [ ]:
pd.cut(df.value, range(0, 105, 10), right=False)

In [ ]:
pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)

In [ ]:
df['Group'] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)
df

In [ ]:
df.groupby('Group').count()

In [ ]:
df.groupby('Group').sum()

In [ ]:
df.groupby('Group').agg({'value': ['count', sum]})

In [ ]:
import functools

def double_sum(series):
       return 2*functools.reduce(lambda x, y: x + y, series, 0)

In [ ]:
sum(range(10))

In [ ]:
double_sum(range(10))

In [ ]:
df.groupby('Group').agg({'value': ['count', double_sum]})

In [ ]:
[ df.quantile(q) for q in [.25, .5, .75] ]

In [ ]:
pd.qcut(df['value'], q=4)

In [ ]:
pd.qcut(df['value'], q=4, labels=range(1,5))

In [ ]:
[ f'Kwartyl {q}' for q in range(1,5)]

In [ ]:
df['quartile']=pd.qcut(df['value'], q=4, labels=[ f'{q}. kwartyl' for q in range(1,5)])
df

---
## Zmiana kształtu DataFrame
###  <span style="color: cyan">Szeroki w długi</span>
---
- __Each variable you measure should be in one column.__ Każda obserwacja w jednej kolumnie

In [ ]:
df = pd.DataFrame({'Student': {0: 'Kowalski J.', 1: 'Nowak A.', 2: 'Korzycki M.'},
                   'WuEf': {0: 5, 1: 4, 2: 2},
                   'Polski': {0: 4, 1: 4, 2: 2},
                   'Matma': {0: 5, 1: 3, 2: 2}})
df

In [ ]:
pd.melt(df, id_vars=['Student'], value_vars=['WuEf', 'Matma', 'Polski'])

In [ ]:
df1 = pd.melt(df, id_vars=['Student'], value_vars=['WuEf', 'Matma', 'Polski'],
       var_name='Przedmiot', value_name='Ocena')
df1

In [ ]:
df1.sort_values('Student')

In [ ]:
df1.sort_values([ 'Przedmiot', 'Student'])

In [ ]:
df1.sort_values(['Student', 'Przedmiot']).reset_index()

In [ ]:
df1.sort_values(['Student', 'Przedmiot'])

In [ ]:
df1.sort_values(['Student', 'Przedmiot']).sort_index()

In [ ]:
df1

url = 'data/df1.csv'

df_demographics = pd.read_csv(url, sep = ',')#### Metoda 'split'

In [ ]:
url = 'data/df.csv'

df1 = pd.read_csv(url, sep = ',')

In [ ]:
df1

In [ ]:
df1.columns

In [ ]:
columns = [c if c != 'owner' else 'name' for c in df1.columns]
columns

In [ ]:
df1['surnames'] = ['Escobar', 'Potter', 'Connor']
df1

In [ ]:
df1['full name'] = df1.owner + ' ' + df1.surnames
df1

In [ ]:
df1 = df1.drop(['owner', 'surnames'], axis=1)
df1

In [ ]:
'Jason Escobar'.split()

In [ ]:
# error
df1['name'] = df1['full name'].split(' ')

In [ ]:
def f(x):
    return x.split()

In [ ]:
df1['name'] = df1['full name'].apply(f)
df1

## Lambda

In [ ]:
df1['name'] = df1['full name'].apply(lambda x: x.split(' '))
df1

In [ ]:
df1['name'] = df1['full name'].apply(lambda x: x.split(' ')[0])
df1

---
## Tidy Data

### Pamiętajmy o podstawowych zasadach:  
1. Każda zmienna tworzy kolumnę.
2. Każda obserwacja stanowi wiersz.
3. Dane w jednej kolumnie są przechowywane w jednym formacie.

In [ ]:
url = 'data/df1.csv'

df_demographics = pd.read_csv(url, sep = ',')

#### Jakie zasady nie spełniają załadowane tabele?

In [ ]:
df_demographics

In [ ]:
df_demographics


df2 --> reguła 2  
Obserwujemy coś w jakimś momencie, dlatego czasowe dane nie mogą stanowić nagłówków.

#### Zrób dane bardziej 'tidy'

In [ ]:
df2_melted = pd.melt(df_demographics, id_vars=['Country'])
df2_melted

In [ ]:
df2_melted.rename(columns = {'variable': 'Year', 'value': 'Income'}, inplace=True)
df2_melted

#### Formatowanie

In [ ]:
df2_melted.dtypes

In [ ]:
df2_melted['Year'] = df2_melted['Year'].apply(lambda x: x[1:5])
df2_melted

In [ ]:
df2_melted['Year'].apply(pd.to_numeric)

In [ ]:
df2_melted['Year'].astype('int64')
df2_melted

### Więcej zabawy z danymi

In [ ]:
messy = pd.DataFrame({'First' : ['John', 'Jane', 'Mary'], 
                      'Last' : ['Smith', 'Doe', 'Johnson'], 
                      'Treatment A' : [np.nan, 16, 3], 
                      'Treatment B' : [2, 11, 1]})
messy

In [ ]:
messy.transpose()

In [ ]:
messy.T

In [ ]:
tidy = pd.melt(messy, 
               id_vars=['First','Last'], 
               var_name='treatment', 
               value_name='result')
tidy

In [ ]:
tidy['Name'] = tidy['First'] + ' ' + tidy['Last']

In [ ]:
messy1 = tidy.pivot(index='Name',columns='treatment',values='result')
messy1

In [ ]:
messy1.index

In [ ]:
messy1.reset_index(inplace=True)
messy1

#### Braki danych

In [ ]:
missing_f = pd.DataFrame([[1,1,1,1,2,2,2,2],[1,np.nan,np.nan,np.nan,2,np.nan,np.nan,np.nan]])
missing_b = pd.DataFrame([[1,1,1,1,2,2,2,2],[np.nan,np.nan,np.nan,1,np.nan,np.nan,np.nan,2]])
display(missing_f)

In [ ]:
missing_f.T

In [ ]:
missing_f.T.fillna(method='ffill')

##### Uzupełnić braki w missing_b metodą 'bfill'

In [ ]:
missing_b.T

In [ ]:
missing_b.T.fillna(method='bfill')

In [ ]:
import pandas as pd

url = 'data/blood.csv'

df_blood = pd.read_csv(url, sep = ',')
df_blood

In [ ]:
df_blood.fillna(method='ffill')

In [ ]:
df_blood.fillna(0)

---
## Formatowanie i działanie wzdłuż osi <span style="color: cyan">(__*axis*__)</span>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(-1, 10))
df

In [ ]:
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: blue' if v else '' for v in is_max]

In [ ]:
df.style.apply(highlight_max)

In [ ]:
df.style.apply(highlight_max, axis=0)

In [ ]:
df.apply(max,axis=0)

In [ ]:
df.style.apply(highlight_max, axis=1)

In [ ]:
df.apply(max,axis=1)

In [ ]:
df["max"] = df.apply(max,axis=1)
df

In [ ]:
df.append(df.apply(max,axis=0), ignore_index=True)

---
### Zadanie 1

Przerobic DataFrame:

In [ ]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])
df

Na postać "tidy" (1 wiersz na 1 punktację danej osoby). 

---

### Zadanie 2

Do poniższego DataFrame:
    
`df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, 10))`

Dołożyć:
    
- kolumnę z sumą po wierszach
- wiersz z sumą po kolumnach

wskazówka: działać "wzdłuż osi"

---

### Zadanie 3

Brakujące dane w `df_blood` uzupełnić średnią z danej kolumny